streamlit
fastapi>=0.115.0
uvicorn[standard]==0.24.0
sqlalchemy==2.0.23
psycopg[binary]
pandas
matplotlib
openpyxl==3.1.2
langchain
langgraph
langchain-core
langchain-community
google-generativeai
python-dotenv==1.0.0
email-validator
python-multipart
pydantic>=2.10.0
python-jose[cryptography]
passlib[bcrypt] 
python-multipart
